---
layout: page
title: Lucas Shadler | Blog
---

{% include navbar.html %}
<body class="w3-teal" style="margin-top: 25px;">

<!-- w3-content defines a container for fixed size centered content,
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32">
  <h1><b>Develop-Mental</b></h1>
  <p>Welcome to the blog of <span class="w3-tag">Lucas Shadler</span></p>
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  {% for post in site.posts %}
  <div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
      <input id="button-{{post.id}}" type="button" style="float:right;margin-top:30px" class="w3-button w3-teal" name="Show More..." value="Show More..." onclick="toggleDiv('{{post.id}}')"/>
      <h3><b>{{ post.title }}</b></h3>
      <h5><span class="w3-opacity">{{post.date | date_to_long_string}}</span></h5>
    </div>

    <div id="content-{{post.id}}" style="display:none; height: 300px; overflow-y: auto;" class="w3-container">
      {{post.content}}
    </div>
  </div>
  {% endfor %}
<!-- END BLOG ENTRIES -->
</div>

<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card-2 w3-margin w3-margin-top">
  <img src="assets/Luke_portrait_01.jpg" alt="luke-portrait" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>Lucas Shadler</b></h4>
      <p>Starting as a Physicist, I quickly discovered that my true love and passion
      was found in the realm of development. Follow me as I tackle the amazing world
      of computers from each new experience!</p>
    </div>
  </div><hr>

  <hr>

<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

{% include footer.html %}
</body>

<script>
function toggleDiv(id) {
	buttonId  = "button-" + id
	contentId = "content-" + id
	if(document.getElementById(contentId).style.display == "block") {
		document.getElementById(contentId).style.display = "none";
		document.getElementById(buttonId).value = "Show More...";
	}
	else {
		document.getElementById(contentId).style.display = "block";
		document.getElementById(buttonId).value = "Show Less...";
	}
}
</script>

</html>
