<div class="mySlides w3-display-container w3-center">
  <img src="/assets/slideshow_01.jpeg" style="width:100%;height:800px">
  <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
    <h3>Boulder Coffee</h3>
    <p><b>December artist showcase!</b></p>
  </div>
</div>
<div class="mySlides w3-display-container w3-center">
  <img src="/assets/slideshow_02.jpg" alt="Boulder01" style="width:100%;height:800px">
  <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
    <h3>"Sing It Like Dean"</h3>
    <p><b>A Michael Pinales original performed live!</b></p>
  </div>
</div>
<div class="mySlides w3-display-container w3-center">
  <img src="/assets/slideshow_03.jpg" alt="Boulder02" style="width:100%;height:800px">
  <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
    <h3>Boulder Coffee</h3>
    <p><b>December artist showcase!</b></p>
  </div>
</div>

<script>
  // Automatic Slideshow - change image every 4 seconds
  var myIndex = 0;
  carousel();

  function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 4000);
  }
</script>
