<!DOCTYPE html>
<html>
<title>{{ page.title  }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Roboto", sans-serif}
.fa-snowflake-o,.fa-laptop {font-size:200px}
div.content-large {
	margin-top: 150px;
	padding-left: 25%;
	width: 75%;
	font-size: 20px;
	text-align: justify;
}
div.content-mobile {
	margin-top: 150px;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	text-align: justify;
}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-teal w3-card-2 w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-teal" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href={{ "/index.html" | relative_url }} class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
    <a href={{ "/resume.html" | relative_url }} class="w3-bar-item w3-button w3-padding-large w3-hover-white">Resume</a>
    <a href={{ "/blog.html" | relative_url }} class="w3-bar-item w3-button w3-padding-large w3-hover-white">Blog</a>
    <a href="https://lshadler.bandcamp.com/releases" class="w3-bar-item w3-button w3-padding-large w3-hover-white">Music</a>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    <a href={{ "/index.html" | relative_url }} class="w3-bar-item w3-button w3-padding-large w3-teal">Home</a>
    <a href={{ "/resume.html" | relative_url }} class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Resume</a>
    <a href={{ "/blog.html" | relative_url }} class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Blog</a>
    <a href="https://lshadler.bandcamp.com/releases" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Music</a>
  </div>
</div>

<div class="content-large w3-hide-small w3-hide-medium">
	{{ content }}
</div>

<div class="content-mobile w3-hide-large">
	{{ content }}
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">"What I cannot create, I do not understand." - Richard Feynman</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity" height=150px>
  <div class="w3-xlarge w3-padding-32">
  <a href="https://www.facebook.com/luke.shadler?ref=br_rs"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
  <a href="https://www.instagram.com/lukeukelele/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
  <a href="https://www.linkedin.com/in/lucas-shadler/"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
 </div>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>

</body>
</html>
